.history/*
Rust/rust/.history/*
Rust/rust/target/*
Rust/rust/Cargo.lock
Rust/rust/src/target/*
Rust/rust/src/autos.json
Rust/rust/src/canciones.json
Rust/rust/src/Suscripciones.json
Rust/rust/tpfinal/.history/*
Rust/rust/tpfinal/report/.history/*
Rust/rust/tpfinal/report/sistema/.history/*
Rust/rust/src/coverage/*
Rust/rust/src/.history/*
Rust/.history/*
Rust/target/*
Java/.metadata/*
Java/.vscode/*
Java/2023 AyED/ListasGenericas/.history/*
.vscode/*
Java/2023 AyED/.vscode/*
Java/2023 AyED/ListasGenericas/.history/*
Rust/rust/src/.history/*
Rust/rust/src/Suscripciones.json
Rust/rust/src/autos.json
Rust/rust/src/canciones.json
Rust/rust/src/coverage/*
